recursive-include pretalx_youtube/static *
recursive-include pretalx_youtube/templates *
exclude pretalx_youtube/locale/django.pot
recursive-include pretalx_youtube/locale *
recursive-include pretalx_youtube *.py
include Makefile
