{% extends "orga/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h2>{% trans "Set up YouTube embeds" %}</h2>
    {% if form %}
        <form method="post">
            {% csrf_token %}
            <div class="mr-5">
                {% bootstrap_form form layout='event' %}
            </div>
            <button type="submit" class="btn btn-success btn-lg float-right">
                <i class="fa fa-check"></i> {% translate "Save" %}
            </button>
        </form>
    {% else %}
        <div class="alert alert-info">
            {% blocktrans trimmed %}
                You will be able to add YouTube URLs to your sessions once you've created a schedule.
            {% endblocktrans %}
        </div>
    {% endif %}

{% endblock %}

