{% extends "orga/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h2>{% trans "Set up YouTube embeds" %}</h2>
    {% for sform in url_forms %}
        <form method="post">
            {% csrf_token %}
            <button name="action" value="url_{{ sform.submission.code }}" type="submit" class="btn btn-info float-right">
                <i class="fa fa-check"></i>
            </button>
            <div class="mr-5">
                {% bootstrap_form sform layout='event' %}
            </div>
        </form>
    {% empty %}
        <div class="alert alert-warning">
            {% blocktrans trimmed %}
                You will be able to add YouTube URLs to your sessions once you've created a schedule.
            {% endblocktrans %}
        </div>
    {% endfor %}

{% endblock %}

